.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 30px;
    color: #36A0FF;
}

.container{
	text-align: center;
}
.fas{
	position: relative;
	right: 28px;
	display: inline-block;
}